name: Release Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'fastlane/**'
      - 'scripts/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'fastlane/**'
      - 'scripts/**'
      - '*.md'
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Get app version
        run: echo "APP_VERSION=v$(cat ./app/build.gradle | grep -m1 versionName | awk -F \" '{print $2}')" >> $GITHUB_ENV
      - name: Get app name
        run: echo "APP_NAME=AppManager_${{ env.APP_VERSION }}_${{ github.run_number }}" >> $GITHUB_ENV
      - name: Inject run number
        run: sed -i -e 's|versionName "\([0-9\.]\+\)"|versionName "\1-${{ github.run_number }}"|' ./app/build.gradle
      - name: Build with Gradle
        run: ./gradlew packageReleaseUniversalApk
      - name: Rename the APK file
        run: mv ./app/build/outputs/apk_from_bundle/release/app-release-universal.apk ./${{ env.APP_NAME }}.apk
      - name: Store generated APK file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APP_NAME }}
          path: ./${{ env.APP_NAME }}.apk
        continue-on-error: true
